.board {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    height: 50vw;
}

.button {
    display: flex;
    width: 29%;
    height: 29%;
    padding: 0;
    margin: 2%;
    border: none;
    border-radius: 10%;
    transition: transform 0.1s ease-out, box-shadow 0.1s ease-out, background-color 0.1s ease-out, color 0.1s ease-out;
    color: #dddddd;
    box-shadow: 0 3px 0;
}

.button:active {
    box-shadow: 0 0 0;
    transform: translateY(3px);
}

.player1 {
    color: #c54e4e;
    background-color: #f46a6a;
}

.player1win {
    color: #842929;
    background-color: #c73737;
}

.player2 {
    color: #4ca1c0;
    background-color: #66cbf0;
}

.player2win {
    color: #18637e;
    background-color: #1f7999;
}

@media (orientation:landscape) {
    .board {
        height: 50vh;
        width: 50vh;
    }
}