.board {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    height: 50vw;
}

.button {
    display: flex;
    width: 29%;
    height: 29%;
    padding: 0;
    margin: 2%;
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: blue;
}

@media (orientation:landscape) {
    .board {
        height: 50vh;
        width: 50vh;
    }
}